

<h1>{{title}}</h1>
<!-- <input type="text">
<p>Sexo? ... {{sexo}}</p>
<p>Edad: {{edad}}</p>
<input type="button" (click)="mostrarAlert()" value ="cambiar">
<input [type]="sexo" [value] = "sexo">
<input [type]="sexo" value = "{{sexo}}"> -->


<!-- <input type="number" [(ngModel)]="miSuma.num1">
<input type="number" [(ngModel)]="miSuma.num2">
<input type="button" (click)="miSuma.sumar()"   value="sumar">
<input [type]="miTipo" [value]="miSuma.result"> -->

<p>Pasword:</p>
<input type="string" [(ngModel)]="miUsuario.pass" value="password">
<p>Mail:</p>
<input type="string" [(ngModel)]="miUsuario.mail" value="mail"><p></p>
<input type="button" (click)="miUsuario.Login()" value="submit">







<!-- esta es la forma de refenciar elementos y atributos del objeto "principal" en este caso lo q esta en app.componnents.ts-->

<!--
() setean un manejador a un evento
[] resuelve la variable-->